<ul class="nav nav-tabs">
  <li><a href="/#assets">Assets</a></li>
  <li class="active"><a href="/#employees">Employee</a></li>
  <li><a href="/#inventory-reports">Inventory Reports</a></li>
</ul>

<div class="content-section">

</div>