<ul class="nav nav-pills main-nav">
  <li class="assets"><a href="/#assets"><span class="glyphicon glyphicon-list-alt"></span> Assets</a></li>
  <li class="employees"><a href="/#employees"><span class="glyphicon glyphicon-user"></span> Employees</a></li>
  <li class="reports"><a href="/#inventory-reports"><span class="glyphicon glyphicon-ok"></span> Inventory Reports</a></li>
</ul>

<div class="content-section">

</div>