<div class="col-sm-8 col-sm-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>User Login</h3>
      <hr>
      <form action="/" method="POST" class="form-horizontal login-form" role="form">
      <div class="form-group">
        <label for="email" class="col-sm-12">Email Address</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-12">Enter Password</label>
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default">Log In</button>
          <a type="submit" class="btn btn-link" href="/forgot-password">Forgot Password</a>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
