
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Asset Inventory System Login</h2>
  </div>
  <div class="panel-body">
    <br>
    <form action="/" method="POST" class="form-horizontal login-form" role="form">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Log In</button>
        <a type="submit" class="btn btn-link" href="/forgot-password">Forgot Password</a>
      </div>
    </div>
    </form>
  </div>
</div>
