$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'datepicker.scss';
@import 'bootstrap-select.scss';
@import 'select2.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input, textarea {
	border-radius: 0 !important;
	box-shadow: none !important;
}

textarea.form-control {resize:vertical !important; }

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* GZAIS Defaults */
$navbar-bg: #cef274;

.main {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
}

.main-title {
    font-weight: bold;
}

.header > .navbar {
    background-color: $navbar-bg;
    border: 1px solid #bada55;
}

.btn-add, .btn-edit, .btn-reset{
  color: #ffffff;
  font-weight: bold;
  border-color: #d14e1b !important;
  background-color: #ef5b00 !important;
  &:hover {
    color: #ffffff;
    background-color: #ef7a37 !important;
  }
}

.btn-save {
  color: #779b14 !important;
  font-weight: bold;
  border-color: #779b14 !important;
  background-color: #CEF274 !important;
  &:hover {
    background-color: #bde064 !important;
  }
}

button.selectpicker {
	border-radius: 0 !important;
}

.main-nav {
    & > li {

        &.active > a {
            background-color: #CEF274 !important;
            color: #779b14 !important;
	    border: 1px solid #779b14 !important;
        }

        & > a {
            font-weight: bold;
            color: #82ad14;
	    border: 1px solid #fff;
        }
    }
}


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #000000;
    font-weight: bold;
}

#add-modal .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]), #edit-modal .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 250px;
}

.modal-header {
  border-color: #779b14 !important;
  background-color: #CEF274 !important;
  color: #779b14;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  h3, h4 {
    text-align: center;
  }
}

.hidden {
  display: none;
}

.alert.alert-danger {
	text-align: center;
}

.btns {
  &.loading {
    .btn-add.btn-load {
      display: inline;
    }
    .btn-add {
      display: none;
    }
  }
  .btn-add.btn-load {
    display: none;
  }
}

.asset-entry, .employee-entry, .inventory-entry {
  .btn {
    border-bottom: 2px solid #aaa;
  }
  &:hover {
    td {
      background-color: #def79e !important;
    }
  }
}

.action-cols {
	text-align: center !important;
    width: 20% !important;
}

.asset-details, .employee-details {
  small {
    color: #aaa;
  }
  h3, h4 {
  	word-wrap: break-word;
  }
  .row-details {
  	display: block;
  	clear: both;
  }
}

label span.email-error {
  display: none;
  color: red;
  font-weight: normal;
  font-style: italic;
}

.error span.email-error {
  display: inline;
}

.panel-heading {
	h4 {
		text-align: center;
	}
}

.dropdown-menu.open {
	border-radius: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #BCDB6D;
}
.dropdown-menu {
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.176);
}
.change-password-form {
	padding: 15px;
	background-color:#BCDB6D;
	border-top:0;
}
.change-password {
	input[type="password"] {
		margin-bottom : 15px;
		padding       : 5px;
		width         : 200px;
	}
	button {
		float: right;
	}
}
.item-details {
	font-weight : normal;
	color       : #9B9898;
}
.td-top {
	vertical-align: top !important;
}
.export-group {
	text-align : right;
	padding    : 6px 20px 7px 0;
}
tr.inventory-entry {
	.td-middle {
		vertical-align: middle !important;
	}

	.changecolor + .tooltip > .tooltip-inner {
	    background-color: #fff;
	    color: #000;
	    border: 1px solid #CCCCCC;
	}

	.changecolor + .tooltip.top > .tooltip-arrow{
	    bottom:0;
	    left:50%;
	    margin-left:-5px;
	    border-left:5px solid transparent;
	    border-right:5px solid transparent;
	    border-top:5px solid #CCC;
	}
	.changecolor + .tooltip.left > .tooltip-arrow{
	    top:50%;
	    right:0;
	    margin-top:-5px;
	    border-top:5px solid transparent;
	    border-bottom:5px solid transparent;
	    border-left:5px solid #CCC;
	}
	.changecolor + .tooltip.bottom > .tooltip-arrow{
	    top:0;
	    left:10%;
	    margin-left:-5px;
	    border-left:5px solid transparent;
	    border-right:5px solid transparent;
	    border-bottom:5px solid #CCC;
	}
	.changecolor + .tooltip.right > .tooltip-arrow{
	    top:50%;
	    left:0;
	    margin-top:-5px;
	    border-top:5px solid transparent;
	    border-bottom:5px solid transparent;
	    border-right:5px solid #CCC;
	}
	.changecolor + .tooltip.bottom {
		margin-left:10px;
	}
	.changecolor {
		text-decoration: none;
	}
	.items-views-detail {
		.items-field {
			text-align : right;
			display    : inline-block;
			width      : 110px;
			font-weight: bold;
		}
		.items-value {
			clear   : both;
			display : inline-block;
			width   : 400px;
		}
		.items-field, .items-value {
			margin  : 0;
			padding : 3px 0;
		}
	}
	a {
		cursor: pointer;
	}
}